html {
    font-size: 62,5%;
}
*{
    background-color: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

header{
    display: flex;
    flex-direction: column;
    background: white;
}
h1{
    color: #D16BA5;
    background: white;
    display: flex;
    justify-content: center;
}
.score{
    background: rgb(184, 182, 182);
}
.questions{
    background: white;
    background-image: linear-gradient(to right top, #e7accd, #e6a7cc, #e4a2ca, #e39dc9, #e198c8, #e29acb, #e39dcd, #e49fd0, #e8a8d7, #edb2de, #f1bbe4, #f6c4eb);;
}
h2{
    color: white;
}
.button{
    background: transparent;
    border-radius: 16px;

    
    text-decoration: none;
    transition: 1s; transform: ease-in-out;
    will-change: transform;
    z-index: 0;
    }


.button:hover{
    background-color: white;
}