html {
    font-size: 62,5%;
}
*{
    background-color:#ffc0cb;
    box-sizing: border-box;
    
    
    
}

header{
    display: flex;
    flex-direction: column;
    background: white;
}
h1{
    color: #D16BA5;
    background: white;
    display: flex;
    justify-content: center;
}
.score{
    background: rgb(184, 182, 182);

}
.questions{
    background: white;
    
}
h2{
    color: white;
}
.button{
    background: transparent;
    border-radius: 16px;

    
    text-decoration: none;
    transition: 1s; transform: ease-in-out;
    will-change: transform;
    z-index: 0;
    }
.button:hover{
    background-color: rgb(240, 228, 228);
}
.section-questions{
    background-color: pink;
    
}